.center{
    text-align: center;
}
.SearchBar{
   
    margin: 2em;
    width: 20em;
}
.inputField{
    width: 20em; 
}

.Arrival{
    text-align:center;
}

.left-panel {
    flex: 5;
}

.right-panel {
    flex: 5;
}